.mainWrapper {
  border-bottom: 1px solid black;
}
.meaningWrapper {
  margin-bottom: 1em;
}
.title {
  font-size: var(--fs-sec);
  font-weight: var(--fw-tri);
}
.meaning {
  padding: 0.5em 2em;
}

.meaning_item {
  font-size: var(--fs-prmy);
}

.synonyms {
  display: flex;
  gap: 1em;
}

.synonyms_title {
  font-weight: var(--fw-sec);
}

.synonyms_word_wrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.synonyms_word {
  color: var(--col-acc-sec);
  margin-right: 1em;
}
