.separator {
  font-size: var(--fs-sec);
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1em;
}

.separator::after {
  display: block;
  content: "";

  width: 100%;
  height: 2px;

  background-color: black;
}
