.main {
  max-width: 1200px;

  /* margin: 0 auto; */

  margin-inline: auto;

  padding: 1em;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.book_icon {
  margin-right: auto;
}

.search {
  background-color: var(--col-acc-tri, black);
  border: none;
  border-radius: 10px;
  width: 100%;

  /* flex-basis: 500px; */
}
.search:focus {
  border: none;
}

.searchWrappers {
  background-color: var(--col-acc-tri, black);
  display: flex;

  /* flex-direction: column; */
  justify-content: space-between;
}
.searchWrappers:focus-within {
  border: 2px solid red;
}
